.bg-dark{
    background-color: black;
}
.text-center{
    color:chocolate;
    position: relative;
    margin: 10px;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
#myClock{
    font-size: 40px;
    font-style:initial;
}